{{>header}}
<div class="container">
    <div class="alert alert-success" role="alert">
        El curso {{curso}} ha sido adicionado satisfactoriamente. Para ver la lista de cursos siga este <a
            href="/listCourses" class="alert-link">link</a>.
    </div>
</div>
{{>footer}}