{{>header}}
<div class="container">
  <div class="alert alert-success" role="alert">
    {{mostrar}}. Ingrese al sitio con su usuario y contraseña para ver más información
  </div>
</div>
</div>
{{>footer}}