<!DOCTYPE html>
<html>
    <head>
        <title>Cursos</title>
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <header>
            <h1>Portal de cursos</h1>
        </header>
