<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewPort" content="width=device-width, initial-scale=1, shrink-to-fit=no" <!--Bootstrap css-->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <title>Promedio Estudiantes</title>
</head>

<body>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-lg-2">
                    <h1>{{titulo}}</h1>
                </div>
                <div class="col-sm-8 col-lg-10">
                    <img src="img/imageHeader.jpg" class="img-fluid" width="100%">
                </div>
            </div>
        </div>
    </div>
    <navbar>
        <a href="/">Home</a>
        <a href="/listado">Listado</a>
    </navbar>