{{>header}}
       


<form action="/listCourses" method="post">    
    <button>Listar Cursos</button>
</form>

<form action="/adicionarCursoForm" method="post">    
    <button>Adicional Curso</button>
</form>

<form action="/cursosEstudiantes" method="post">    
    <button>Ver cursos y estudiantes</button>
</form>


{{>footer}}