{{>header}}
        <p>
            Bienvenido a la pagina de estudiante
        </p>


{{>menuEstudiante}}

<form action="/listCoursesEstudiantes" method="post">    
    <button>Listar Cursos</button>
</form>


{{>footer}}