{{>header}}
        <p>
            Bienvenido a la pagina de inicio
        </p>


<form action="/coordinador" method="post">    
    <button>Soy coordinador</button>
</form>


<form action="/estudiante" method="post">    
    <button>Soy estudiante</button>
</form>

{{>footer}}