<!DOCTYPE html>
<html>
    <head>
        <title>Promedio Estudiantes</title>
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <header>
            <h1>Promedio {{estudiante}}</h1>
        </header>
